// test

.light {
  -webkit-animation: fadeOut 0.5s 0.5s 4 linear alternate;
  -moz-animation: fadeOut 0.5s 0.5s 4 linear alternate;
  -ms-animation: fadeOut 0.5s 0.5s 4 linear alternate;
  -o-animation: fadeOut 0.5s 0.5s 4 linear alternate;
  animation: fadeOut 0.5s 0.5s 4 linear alternate;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
