// test

@mixin animation($name, $duration, $delay, $iteration-count, $timing-function, $direction) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $iteration-count;
  animation-timing-function: $timing-function;
  animation-direction: $direction;
}

@mixin keyframe($animation-name) {
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframe(fadeOut) {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.light {
  @include animation(fadeOut, 0.5s, 0.5s, infinite, linear, alternate);
}

.last {
  @include animation(fadeOut, 0.5s, 0.5s, 4, linear, alternate);
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
