@import "./vars.scss";

ul,
li {
  all: unset;
}

section {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.container {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  background-color: coral;
  border: 1px solid #ccc;
}

.line {
  position: absolute;
  width: 400px;
  height: 0;
  top: 50%;
  transform: translateY(-50%);
  // border: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-between;

  span {
    color: #fff;
  }

  .line__text {
    position: absolute;
    display: block;
  }

  .line__text:first-child {
    left: 20px;
    top: 20px;
  }

  .line__text:last-child {
    right: 20px;
    top: -50px;
  }
}

@for $i from 1 to $hexadecimal {
  .line#{$i} {
    // border: 1px solid red;
    transform: rotate($initAngle * $i);
    span {
      transform: rotate(-($initAngle * $i));
    }
  }
}

.roulette__arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) rotate(15deg);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 80px;
}
