#arrow {
  position: absolute;
  top: 38%;
  left: 43%;
  font-size: 150px;
  color: #f2a154;
  transition: all 1s;
}

.blink {
  animation: blink 500ms ease 4;
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
