$width: 1280px;
$fontFamily: NanumGothic, '나눔고딕', 'Nanum Gothic', 'Malgun Gothic',
    '맑은 고딕', Dotum, '돋움', Helvetica, AppleSDGothicNeo, Arial, sans-serif;
$fontSize: 18px;
$btnBackColor: #b45f06;
$white: #fff;
$lightBlack: #333;

body {
    font-family: $fontFamily;
}

.all-wrapper {
    width: $width;
    margin: 20px auto 0;
}

.receive__circle {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: relative;

    canvas#circular {
        z-index: -1;
    }
    img {
        position: absolute;
        top: calc(50% - 30px);
        left: calc(50% - 30px);
        width: 60px;
        height: 60px;
        transition-duration: 1s;
        transition-property: transform;        
    }
}

.receive__input {
    display: flex;
    justify-content: space-evenly;

    div {
        * {
            margin-top: 10px;
        }

        p {
            font-size: 24px;
            font-weight: 600;
        }

        input,
        button {
            display: block;
            border: none;
            background: none;
            font-size: $fontSize;
        }

        input {
            padding: 8px 3px;
            box-shadow: 0 0 0 1.05px $lightBlack;
            border-radius: 3%;
        }
        button {
            cursor: pointer;
            font-weight: 600;
            font-size: 20px;
            color: $white;

            background-color: $btnBackColor;
        }
    }
}
