body,
input,
textarea,
select,
button,
table {
  font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
    '돋움', sans-serif;
}
.body {
  position: absolute;
  width: 900px;
  height: auto;
}

.main--left {
  position: absolute;
  display: flex;
  font-size: 0.2rem;
  fill: #b5d99c;

  .svg {
    background: white;
    width: 600px;
  }

  .arrow--img {
    position: absolute;
    left: 205px;
    top: 225px;
    width: 90px;
    transform: rotate(-78.5deg);
    transition: all 1s;
  }

  .receiver img {
    width: 50px;
  }
}

.main--right {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
  div {
    display: flex;
    flex-direction: column;
    margin: 20px;

    &:focus {
      outline: none;
    }
    input {
      width: 260px;
      height: 40px;
      margin: 10px 0;
      border-radius: 10px;
      border-style: solid;
    }

    .main--hex--text {
      color: grey;
    }

    button {
      background-color: #0396a6;
      color: white;
      width: 100px;
      height: 35px;
      margin: 20px 0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
  .notification {
    width: 260px;
    height: 40px;
    visibility: hidden;
    line-height: 40px;
    color: lightgrey;
    text-align: center;
    background-color: #0396a6;
    border-radius: 10px;
  }
}

.blink {
  animation-name: blinker;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
