#canvas {
  display: block;
  margin-left: 100px;
  margin-top: 50px;
  border: 1px solid black;
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> Kyle
.canvas-wrapper {
  position: relative;
}
.arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 320px;
  top: 220px;
  text-align: center;
  line-height: 60px;
  font-size: 3rem;
  color: #0b5394;
  transition: all 0.2s;
}
<<<<<<< HEAD
=======
=======
>>>>>>> 91dc7404182e35c6e6d7fdaf68bca5e026677fd6
>>>>>>> Kyle
.wrapper {
  display: flex;
  margin-left: 100px;
  margin-top: 50px;
}

<<<<<<< HEAD
.receive {
=======
<<<<<<< HEAD
.receive {
=======
.receive-info {
>>>>>>> 91dc7404182e35c6e6d7fdaf68bca5e026677fd6
>>>>>>> Kyle
  margin-right: 30px;
}
