<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="all-wrapper">
            <div class="transceiver__view">      
                <img src="/img/top_arrow.png" alt="arrow" class="transform__rotate-16">
                <canvas id="circular" width="600" height="600"></canvas>                                
            </div>

            <div class="transceiver__control">
                <div class="transceiver__control__receive">
                    <p>송수신 정보</p>
                    <input type="text"/>                    
                    <button type="button">해석하기</button>
                </div>

                <div class="transceiver__control__send">
                    <p>발신정보입력</p>
                    <input type="text" class="send__text"/>
                    <textarea class="send__text--convert" cols="25" readonly></textarea>
                    <button type="button">지구로 보내기</button>
                </div>
            </div>
        </div>
    </body>
    <script type="module" src="/js/index.js"></script>
</html>
