<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/common.css" />
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <div class="all-wrapper">
            <div class="receive__circle">                
                <ul class="receive__circle__circular">
                    <% for(let i = 0; i < 16; i++) { %>
                    <li><%= i+1 %></li>        
                    <% } %>
                </ul>            
            </div>
            <div class="receive__input">
                <div class="receive__input__send">
                    <p>송수신 정보</p>
                    <input type="text" name="send" />
                    <button type="button">해석하기</button>
                </div>

                <div class="receive__input__sent">
                    <p>발신정보입력</p>
                    <input type="text" name="sent" />
                    <button type="button">지구로 보내기</button>
                </div>
            </div>
        </div>
    </body>
    <script type="module" src="/js/index.js"></script>
</html>
