
.title {
    display: flex;
    justify-content: space-between;
    font-size: 80px;
    padding: 0 110px 0 70px;
}

.box {
    position:relative;
    display:flex;
    justify-content:space-between;
    align-items: center;
}

.mars {
    position:relative;
    height:400px;
    margin-top: 50px;
    margin-left: 50px;
}


.allow {
    position:absolute;
    top:38%;
    left:44%;
}


.blink {
    animation-name: blink;
    animation-delay: .8s;
    animation-duration: 0.5s;
    animation-iteration-count: 4;
}

@keyframes blink {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.send {
    position:absolute;
    left:40%;
    text-align: center;

    div {
        font-size: 30px;
    }
    
    .send_title {
        font-size: 50px;
        font-weight: 1000;
        padding-bottom: 50px;
    }
    
    .send_first {
        padding-bottom: 100px;
    }
}

.send_button_off {
    display: none;
}

.send_button1 {
    cursor: pointer;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: black;
        color:white;
    }
    &:active {
        transform: translateY(2px);
    }

}

.send_button2 {
    cursor: pointer;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: black;
        color:white;
    }
    &:active {
        transform: translateY(2px);
    }

}

.earth {
    img {
        width:600px;
        height:400px;
    }
}

.bar_box {
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 130px;

    .title {
        font-size: 25px;
        font-weight: 1000;
        padding: 20px 0;
    }
}

.input_box {
    text-align: -webkit-center;
}

input {
    display:block;
    width:350px;

    height: 50px;

    padding: 0;
    border: 1px solid;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    border-radius: 10px;
    text-align: center;
    outline: none;

}

.button {
    display:block;
    cursor: pointer;
    padding-top: 10px;
    margin: 10px 0;
    width:362px;
    height: 50px;
    border:none;
    outline:none;
    font-size: 30px;
    align-content: center;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;

    &:hover {
        background-color: yellowgreen;
    }
    &:active {
        transform: translatey(2px);
    }
}