$radius: 155px;
$origin: 242px;
$sumPizza: 16; // 원이 몇개의 피자조각;;으로 나눠지는지

$pi: 3.14159265359;
// 이하의 삼각함수 코드는 https://codepen.io/NyX/pen/dYvymM 에서 가져옴
@import "triangle.scss";

body {
  padding: 50px;
}
.wheel__arrow {
  position: absolute;
  display: flex;
  height: 60px;
  width: 60px;
  object-fit: cover;
  top: $origin - 22px;
  left: $origin - 22px;
}
.wheel__letter {
  span {
    position: absolute;
    font-size: 20px;
    color: white;
  }
  @for $i from 1 through $sumPizza {
    .letter:nth-of-type(#{$i}) {
      $modifier: -101; // 각도 조절
      $degree: 2 * $pi * (($i * 360 / $sumPizza + $modifier)/360);
      top: $origin + $radius * sin($degree);
      left: $origin + $radius * cos($degree);
    }
  }
}
.main__wrapper {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
}
.blinking{
  -webkit-animation:blink 0.25s ease-in-out infinite alternate;
  -moz-animation:blink 0.25s ease-in-out infinite alternate;
  animation:blink 0.25s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
@keyframes blink{
  0% {opacity:0;}
  100% {opacity:1;}
}
