<!DOCTYPE html>
<html>

<head>
  <title>Martian</title>
  <link rel='stylesheet' href='/css/reset.css' />
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <div>대충 돌림판</div>


  <div class="main__wrapper">
    <div class="송수신정보">
      <div>송수신정보</div>
      <input type="text">
      <button>해석하기</button>
    </div>
    <div class="발신정보입력">
      <div>발신정보입력</div>
      <input type="text" placeholder="> hello earth">
      <button>지구로 보내기</button>
    </div>
  </div>





</body>

</html>