@import "./var.scss";
@import "./color.scss";

* {
  font-size: 0;
  box-sizing: border-box;
}

body {
  min-width: 1000px;
  min-height: 1000px;
  position: relative;
}

.txrx {
  width: $circle-radius * 2;
  height: $circle-radius * 2;
  position: relative;
  top: 10%;
  left: 10%;
  background-color: $redorange;
  border: 3px solid $black;
  border-radius: 9999px;
  
  @for $i from 0 through ($pie-cnt - 1) {
    $start-divider-angle: 180deg;

    .divider-#{$i} {
      $this-angle: $start-divider-angle + ($i * $pie-angle);

      width: 3px;
      height: $circle-radius - 2px;
      position: absolute;
      top: $circle-radius - 3px;
      left: $circle-radius - 4.5px;
      background-color: $darkgray;
      transform-origin: top;
      transform: rotate($this-angle);
    }

    $start-hex-angle: $pie-angle / 2;

    .hex-#{$i} {
      $this-angle: $start-hex-angle + ($i * $pie-angle) - 1deg;
      $font-size: 30px;
      
      width: 3px;
      height: $circle-radius - 2px;
      padding-top: 10px;
      position: absolute;
      top: 0;
      left: $circle-radius - 4.5px;
      font-size: $font-size;
      font-weight: 800;
      color: $lightgray;
      background: transparent;
      transform-origin: bottom;
      transform: rotate($this-angle);
    }
  }
}